groq
langchain
langchain-groq
langchain-community
chromadb
sentence-transformers
gradio
pymupdf
folium
python-dotenv
requests
pandas
transformers
torch
torchvision
Pillow
fastapi
uvicorn
python-multipart
